.DS_Store
.settings
build.properties
build/
.metadata
alpacajs-repo/alf_data_dev
alpacajs-repo/target
share.log
alpacajs-share/target
alfresco.log
alpaca-repo/alf_data_dev
alpaca-repo/target
alpaca-share/target
